* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.app {
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 46px;
  padding-left: 14px;
  background-color: white;
  border-bottom: 1px solid rgb(216, 216, 216);
  z-index: 100;
}

.basic-icon-button {
  width: 36px;
  height: 36px;
  margin: 0px 3px;
  border-radius: 18px;
}

.basic-icon-img {
  width: 20px;
  vertical-align: middle;
}

.logo-icon-button {
  width: 70px;
}

.logo-icon-img {
  width: 65px;
}

/* search bar */
.search-form {
  flex: 1;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.search-bar-input {
  width: 70%;
  height: 26px;
  font-size: 12px;
  max-width: 500px;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 2px 6px;
}

.search-button {
  width: 50px;
  height: 26px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search-button-img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.icon-list {
  display: flex;
  height: 100%;
  padding: 0px 4px;
  justify-content: cetner;
  align-items: center;
}

/* Main */

.main {
  width: 100%;
  border: 1px solid blue;
  padding-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  border: 1px solid burlywood;
  margin: 10px 0px;
}

/* Video */

.video-list {
  display: flex;
  flex-wrap: wrap;
}

.video-item {
  width: 170px;
  height: 170px;
  margin: 2px;
}

.video-item-img {
  width: 170px;
  height: 100px;
}

.video-channel-title {
  font-size: 10px;
}

.video-item-title {
  font-size: 12px;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

.video-item-view-count {
  font-size: 10px;
}

/* side bar */

.side-bar {
  display: none;
  height: 100%;
  position: fixed;
  background-color: #f5f5f5;
  border: 1px solid green;
  padding-top: 46px;
  overflow: scroll;
}

/* guide item */

.guide-list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 10px 3px;
}

.guide-title {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  padding: 0px 9px;
  margin: 8px 8px;
}

.guide-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 18px;
  margin: 7px 0px;
}

.guide-icon {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  overflow: hidden;
}

.guide-icon-img {
  width: 100%;
  height: 100%;
}

.guide-text {
  flex: 1;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  margin-left: 10px;
}

/* Media Query */

.content,
.main-banner {
  width: 350px;
}

@media (max-width: 655px) {
  .search-form {
    visibility: hide;
  }
}

@media screen and (min-width: 620px) {
  .content,
  .main-banner {
    width: 525px;
  }
}

@media screen and (max-width: 655px) {
  .search-bar-input,
  .search-button {
    display: none;
  }
}

@media screen and (min-width: 680px) {
  .main {
    padding-left: 65px;
  }

  .side-bar {
    display: block;
    width: 65px;
  }
}

@media screen and (min-width: 870px) {
  .content,
  .main-banner {
    width: 700px;
  }
}

@media screen and (min-width: 915px) {
  .main {
    padding-left: 190px;
  }
  .side-bar {
    width: 190px;
  }
  .guide-text {
    display: block;
  }
}

@media screen and (min-width: 1180px) {
  .content,
  .main-banner {
    width: 875px;
  }
}

@media screen and (min-width: 1380px) {
  .content,
  .main-banner {
    width: 1050px;
  }
}
